.main-chat
  .main-chat__group-info
    %ul.main-chat__group-info__box
      %li.main-chat__group-info__box__group-name
        team
      %li.main-chat__group-info__box__group-mem
        Member : member
    .main-chat__group-info__edit-space
      =link_to "#" ,class:"edit-btn" do
        edit
  .main-chat__group-message
    .main-chat__group-message__message-box
      %ul.main-chat__group-message__message-box__message-info
        %li.main-chat__group-message__message-box__message-info__message-user
          masa
        %li.main-chat__group-message__message-box__message-info__message-data
          2020/00/00/() 00:00:00
      %p.main-chat__group-message__message-box__message
        hello
    .main-chat__group-message__message-box
      %ul.main-chat__group-message__message-box__message-info
        %li.main-chat__group-message__message-box__message-info__message-user
          masa
        %li.main-chat__group-message__message-box__message-info__message-data
          2020/00/00/() 00:00:00
      %p.main-chat__group-message__message-box__message
        hello
  .main-chat__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :post, class: 'main-chat__message-form__message', placeholder: 'type a message'
      .main-chat__message-form__btn
        = f.label :image, class: 'main-chat__message-form__btn__image' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit'Send', class: 'main-chat__message-form__send-btn'