.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-itmes
      %p.side-bar__user-name__top-itmes__name 
        = current_user.name
      %ul.side-bar__user-name__top-itmes__btn
        %li.side-bar__user-name__top-itmes__edit
          =link_to new_group_path do
            = icon('fas', 'edit', class: 'icon')
        %li.side-bar__user-name__top-itmes__create
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
                

  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__group
        = link_to group_messages_path, class:"group-box" do
          .name
            = group.name
          .last-message
            メッセージはまだありません。